<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <h1>OOP_x_nimmt</h1>
    </header>
    <span class="currentPlayer">Now Playing : <!--nowplayernum--></span>
    <form action="/join" method="POST">
      <!-- <% //if(nowPlayerNum == 0) { %> -->
      <input class="input inputTotalPlayer" type="number" min="2" max="6" value="2" name="totalPlayer"/>
      <!-- <% //} %> -->
      <input class="input inputPlayerName" type="text" name="playerName"/>
      <input class="inputBtn" type="submit"/>
    </form>
  </body>
</html>
