<!DOCTYPE html>
<html>
  <head>
    <title>Playing OOP_x_nimmt</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <aside class="score">
      
    </aside>
    <main class="main">
      <div class="mainWrap">
        <div class="boardA board">
          <div class="boardA0"></div>
          <div class="boardA1"></div>
          <div class="boardA2"></div>
          <div class="boardA3"></div>
          <div class="boardA4"></div>
        </div>
        <div class="boardB board">
          <div class="boardB0"></div>
          <div class="boardB1"></div>
          <div class="boardB2"></div>
          <div class="boardB3"></div>
          <div class="boardB4"></div>
        </div>
        <div class="boardC board">
          <div class="boardC0"></div>
          <div class="boardC1"></div>
          <div class="boardC2"></div>
          <div class="boardC3"></div>
          <div class="boardC4"></div>
        </div>
        <div class="boardD board">
          <div class="boardD0"></div>
          <div class="boardD1"></div>
          <div class="boardD2"></div>
          <div class="boardD3"></div>
          <div class="boardD4"></div>
        </div>
      </div>
    </main>
    <aside class="table">

    </aside>
    <div class="hand">

    </div>
  </body>
</html>
