<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Playing OOP_x_nimmt</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <aside class="score">
      <div class="playerScoreBoard indexScoreBoard">
        <div class="playerName indexName">Name</div>
        <div class="playerScore indexScore">Score</div>
      </div>
      <% for(let i = 0; i < 2; i++) { %><!--playernum param-->
        <div class="playerScoreBoard">
          <div class="playerName"></div><!--playerName param-->
          <div class="playerScore"></div><!--playerScore param-->
        </div>
      <% } %>
    </aside>
    <main class="main">
      <div class="mainWrap">
        <div class="boardA board">
          <div class="boardA0"></div>
          <div class="boardA1"></div>
          <div class="boardA2"></div>
          <div class="boardA3"></div>
          <div class="boardA4"></div>
        </div>
        <div class="boardB board">
          <div class="boardB0"></div>
          <div class="boardB1"></div>
          <div class="boardB2"></div>
          <div class="boardB3"></div>
          <div class="boardB4"></div>
        </div>
        <div class="boardC board">
          <div class="boardC0"></div>
          <div class="boardC1"></div>
          <div class="boardC2"></div>
          <div class="boardC3"></div>
          <div class="boardC4"></div>
        </div>
        <div class="boardD board">
          <div class="boardD0"></div>
          <div class="boardD1"></div>
          <div class="boardD2"></div>
          <div class="boardD3"></div>
          <div class="boardD4"></div>
        </div>
      </div>
    </main>
    <aside class="table">
      <div class="tablePlayer1"></div>
      <div class="tablePlayer2"></div>
      <div class="tablePlayer3"></div>
      <div class="tablePlayer4"></div>
      <div class="tablePlayer5"></div>
      <div class="tablePlayer6"></div>
    </aside>
    <div class="hand">

    </div>
  </body>
</html>
