@import "./reset.css";

body {
  height: 95vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.score {
  height: 100%;
  flex: 1;
  background-color: aqua;
}

main {
  height: 90%;
  padding: 5%;
  flex: 3;
  background-color:blanchedalmond
}

.mainWrap {
  height: 90%;
  display: grid;
  grid-template: repeat(4,1fr) / 1fr;
}

.board {
  display: grid;
  grid-template: 1fr / repeat(5,1fr);
}

.table {
  height: 100%;
  flex: 1;
  background-color: chartreuse;
}

.hand {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  background-color: blueviolet;
  z-index: 1;
  transition: .5s ease;
  display: grid;
  grid-template: 1fr / repeat(10, 1fr);
}

.hand:hover {
  bottom: -5%;
}