@import "./reset.css";

body {
  height: 95vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.score {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.playerScoreBoard {
  width: 85%;
  height: 5%;
  padding: 5% 0;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  text-align: center;
}

.playerName {
  height: 80%;
  width: 65%;
  border-right: 1px solid black;
  vertical-align: bottom;
}

.playerScore {
  height: 80%;
  width: 35%;
}

.indexScoreBoard {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.indexName {
  border-right: 2px solid black
}

main {
  height: 90%;
  padding: 5%;
  flex: 3;
  background-color:blanchedalmond
}

.mainWrap {
  height: 90%;
  display: grid;
  grid-template: repeat(4,1fr) / 1fr;
}

.board {
  display: grid;
  grid-template: 1fr / repeat(5,1fr);
  justify-items: center;
  align-items: center;
}

.card {
  width: 90px;
  height: 110px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.cardPoint {
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  line-height: 39px;
  color: rgb(130,130,130);
  background-color: transparent;
  background-image: url("../images/star.png");
  background-size: 40px 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13px;
}

.cardNum {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.table {
  height: 100%;
  flex: 1;
  display: grid;
  grid-template: repeat(3,1fr) / repeat(2,1fr);
  background-color: chartreuse;
  justify-items: center;
  align-items: center;
}

.hand {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  background-color: blueviolet;
  z-index: 1;
  transition: .5s ease;
  display: grid;
  grid-template: 1fr / repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

.hand:hover {
  bottom: -5%;
}